# OS Files
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Environment files
.env
.env.*

# Node modules (all folders)
**/node_modules/

# Build folders
**/dist/
**/build/